@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1 class="display-4">Welcome to Fish Keeping</h1>
    <p>You would be surprised at how expensive it can get</p>
    <br />
    <br />
    <img src="~/img/fishtank.jpg" width="75%" />
    <br />
    <br />
    <br />
    <h2>Fish keeping is a wonderful hobby</h2>
    <p>
        Fish keeping is a uniquely rewarding hobby that brings the captivating beauty of aquatic life into the living spaces of enthusiasts.
        Beyond the vibrant colors and graceful movements of fish, this hobby fosters a sense of responsibility and connection with nature.
        The intricacies of creating a well-balanced aquatic environment, understanding the diverse species, and maintaining water parameters
        offer a continuous learning experience. Fish tanks, ranging from modest setups to elaborate aquascapes, serve as tranquil,
        living artworks that enhance the ambiance of any room. Moreover, the diverse range of fish species available allows hobbyists to
        tailor their aquariums to personal preferences, creating a hobby that is as customizable as it is enjoyable. From the calming
        sound of bubbling water to the joy of observing unique fish behaviors, fish keeping provides a therapeutic escape, making it a
        truly awesome and fulfilling pastime for individuals of all ages.
    </p>
    <br />
    <br />
    <img src="~/img/fishtank2.jpg" width="75%"/>
    <br />
    <br />
    <br />
    <h2>
        Tank Cleaning and Maintenance
    </h2>
    <p>
        There is a lot to know about fish keeping. There are many things to keep track of. Water parameters, fish parameters, plant parameters. 
        Then there are many different pieces of equipment that have different purposes. This hobby is a deep rabbit hole. Go to the services 
        page to find out more!
    </p>
</div>
